@keyframes colorChange {
  0% {
    color: #dd2e44;
  }

  50% {
    color: white;
  }

  100% {
    color: #dd2e44;
  }
}

body {
  background-color: black;
  color: #dd2e44;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin: 0;
}

nav {
  padding: 1%;
  background-color: #202020;
  border-bottom: 2px solid #dd2e44;
  width: 100%;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: #dd2e44;
  margin: 0 15px;
  display: inline-block;
}

nav a:hover {
  color: white;
  font-size: 18px;
}

section {
  padding: 20px;
}

#home h2 {
  animation: colorChange 2s infinite; /* Animasyonun süresi ve tekrarlama */
  margin: 0;
}

.game-box {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #303030;
  border: 2px solid #dd2e44;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.game-box img {
  width: 100%;
  height: auto;
}

.game-box p {
  font-size: 15px;
}

.game-description {
  font-size: 0.8em;
  color: #ffffff;
  margin-top: 10px;
}

section#about, section#contact {
  text-align: center;
  padding: 50px;
  max-width: 100%;
  margin: 0 auto; /* Ortalamak için */
}

section#about h2, section#contact h2 {
  color: white;
}

section#about p, section#contact p {
  margin-top: 30px; /* Paragraf ile başlık arasına boşluk */
  line-height: 1.6; /* Daha okunaklı bir yazı aralığı */
}

footer {
  padding: 10px;
  background-color: #202020;
  border-top: 2px solid #dd2e44;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

footer p {
  font-size: 0.8em;
  margin: 0;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin: 0 10px;
  color: #dd2e44;
  text-decoration: none;
}

.social-icons img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav a {
    margin: 0 5px;
    font-size: 16px;
  }

  .game-box {
    width: 80%;
    max-width: none;
    margin: 10px auto;
  }

  section#about, section#contact {
    padding: 30px;
  }

  footer {
    padding: 20px;
  }

  .social-icons img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  nav a {
    font-size: 10px;
    display: block;
    margin: 10px 0;
  }

  .game-box {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }

  section#about, section#contact {
    padding: 20px;
  }

  footer {
    padding: 15px;
  }

  .social-icons img {
    width: 20px;
    height: 20px;
  }
}
